

.section-padding{
    padding: 100px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption {
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    text-align: center;


}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    text-align: center;
}
/*.carousel::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}*/







.navbar-brand{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.text-warning{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: #000;
}

.navbar-light .navbar-nav .navbar-link{
    color: #000;
}
.w-100{
    height: 100vh;
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .carousel-caption{
        bottom: 350px;
    }
    .carousel-caption p{
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
}

/*.container{
    width: auto;
    min-height: 100vh;
    background: linear-gradient(135deg, lightskyblue, papayawhip);
    padding: 10px;


}*/

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 50px;
    margin-left: 20px;
}

.guest-app{
    width: 100%;
    max-width: 800px;
    background: #fff;
    margin: 70px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.guest-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.guest-app h2 img{
    width: 50px;
    margin-left: 20px;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14;
}

button{
    border: none;
    outline: none;
    padding: 2px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

/*ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
}*/

ul li span{
    padding: 10px;
    right: 0;
    top: 50px;
    width: 10px;
    height: 10px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    /*margin-left: auto;*/
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
}












